# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\CODEGYM_COURSE\codegym_Module2\17.IOBinaryFile&Serialization\ProductManagerSaveToFileFull\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out
.idea
*.iml
